<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @merch.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @merch.body %>
</p>

<%= link_to 'Edit', edit_merch_path(@merch) %> |
<%= link_to 'Back', merches_path %>
