<! DOCTYPE html>
<html>
  <head>
    <title>You Folk</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.curator.io/3.1/css/curator.css"/>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  </head>
  <script>
    window.onresize=window.onload=function(event){
      console.log(window.innerWidth)

      var all = document.getElementsByClassName("slides");

    for(var i = 0; i < all.length; i++){
    all[i].style.height = window.innerWidth/1.5 + "px";
}
    }

   </script>
    <body>
      
    <div id="container">

      <div id="second-section">
        <div class="endearment">
          <video autoplay muted loop controls id="myVideo">
          <source src="<%= asset_path 'endearment.mp4' %>" type="video/mp4">
          <button id="myBtn" onclick="myFunction()">Pause</button>
          </video>
        </div>
      </div>

      <div id="third-section">
        <div class="carousel-container">
          <div class="carousel-slide">
            <div class="slides" id="double" style="background-image:url(<%= asset_path 'double.jpg'%>);" alt="double"></div>
            <div class="slides" id="me" style="background-image:url(<%= asset_path 'me.jpg'%>);" alt="me"></div>
            <div class="slides" id="rebecca" style="background-image:url(<%= asset_path '/rebecca.jpg'%>);" alt="rebecca"></div>
            <div class="slides" id="bryan" style="background-image:url(<%= asset_path 'bryan.jpg'%>);" alt="bryan"></div>
            <div class="slides" id="evan" style="background-image:url(<%= asset_path 'evan.jpg'%>);" alt="evan"></div>
            <div class="slides" id="band-together" style="background-image:url(<%= asset_path 'liveband.jpg'%>);" alt="band together"></div>
            <div class="slides" id="band-together-2" style="background-image:url(<%= asset_path 'liveband2.jpg'%>);" alt="band together 2"></div>
          </div>
        </div>
      </div>
      
    </div>  
  </body>
</html>