<div id="create-albums">
  <table id="albums-table">
  <%= form_for @album do |f| %>

  <tr>
    <td class="album-table-headers">URL:</td>
    <td><%= f.text_area :url %></td>
  </tr>
  <tr>
    <td class="album-table-headers">Image:</td>
    <td><%= f.text_area :image %></td>
  </tr>
  <tr>
    <td class="album-table-headers">Name:</td>
    <td><%= f.text_area :name %></td>
  </tr>
  <tr>
    <td><%= f.submit 'Save', id: 'save-button' %></td>
    <td></td>
  </tr>
  <% end %>
</div>
