<html>
  <body>
    <%= stylesheet_link_tag    'albums' %>
    <div class="back-to-admin"><a href="/pages/admin">Back to Admin Page</a></div>

    <div id="albums-holder">

    <table id="albums-table">
      <thead id="album-headers">
        <th id="album-name-header">Album Name</th>
        <th id="album-url-header">URL</th>
        <th id="album-artwork-header">Artwork</th>
      </thead>
      <% @albums.each do | album | %>
       <tr class="albums-row">
         <td id="<%= 'albums-last-column' if @last_album_id == album.id %>" class="albums-name albums-column"><%= album.name %>
         </td>
         <td id="<%= 'albums-last-column' if @last_album_id == album.id %>" class="albums-url albums-column"><%= album.url %></td>
         <td id="<%= 'albums-last-column' if @last_album_id == album.id %>" class="albums-image albums-column"><%= album.image %>
         </td>
         <td id="edit-and-delete-buttons" class="albums-column">
        <%= button_to 'edit', edit_album_path(album), method: 'get' %>
        <%= button_to 'remove', album_path(album), method: 'delete', data: { confirm: 'are you sure?'} %>
        </td>
      </tr>
      <% end %>
    </table>
    </div>

  </body>
</html>

