<! DOCTYPE html>
  <head>
    <title>Add Albums</title>
    <%= stylesheet_link_tag    'albums' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  </head>

<div id="new-heading-albums">Create New Album</div>

<div id="create-albums">
  <table id="albums-table">
  <%= form_for @album do |f| %>

  <tr class="album-table-row-container">
    <td class="album-table-headers">URL:</td>
    <td class="album-table-row"><%= f.text_area :url %></td>
  </tr>
  <tr class="album-table-row-container">
    <td class="album-table-headers">Image:</td>
    <td class="album-table-row"><%= f.text_area :image %></td>
  </tr>
  <tr class="album-table-row-container">
    <td class="album-table-headers">Name:</td>
    <td class="album-table-row"><%= f.text_area :name %></td>
  </tr>
  <tr>
    <td><%= submit_tag "Save", id: 'save-button' %></td>
    <td></td>
  </tr>
  <% end %>
  </table>
</div>
