<! DOCTYPE html>
  <head>
    <title>Add Albums</title>
    <%= stylesheet_link_tag    'albums' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  </head>

<div id="new-heading-albums">Create New Album</div>

<div id="create-albums">
  <%= form_for @album do |f| %>
    <div class="album-col">URL:</div> <%= f.text_area :url %><br />
    <div class="album-col">Image:</div> <%= f.text_area :image %><br />
    <div class="album-col">Name:</div> <%= f.text_area :name %><br />
    <%= f.submit "Create" %>
  <% end %>
</div>
<br />
