<div id="create-gigs">
  <table id="gigs-table">
<%= form_for @gig do |f| %>

  <tr class="gig-table-row-container">
    <td class="gig-table-headers">Date:</td>
    <td class="gig-table-row"><%= f.date_field :date, id: 'gig-date-field' %></td>  
  </tr>
  <tr class="gig-table-row-container">
    <td class="gig-table-headers">Location:</td>
    <td class="gig-table-row"><%= f.text_area :location %></td>
  </tr>
  <tr class="gig-table-row-container">
    <td class="gig-table-headers">Artists:</td>
    <td class="gig-table-row"><%= f.text_area :artists %></td>
  </tr>
  <tr>
  <td><%= f.submit 'Save', id: 'save-button' %></td>
  <td></td>
  </tr>
<% end %>
  </table>
</div>