<! DOCTYPE html>
<html>
  <head>
    <title>Discography</title>
    <%= stylesheet_link_tag    'gigs' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    
  </head>
  
  <body>
    

      <div id="shows-header">Upcoming Shows:</div>
      <div id="gig-holder">
      <table id="shows-table">
      <% Gig.all.sort_by{|g| g.date}.each do | gig | %>
        <tr class="shows-row">
        <td id="<%= 'shows-last-column' if @last_gig_id == gig %>" class="shows-date shows-column"><%= gig.date %></td>
        <td id="<%= 'shows-last-column' if @last_gig_id == gig %>" class="shows-artists shows-column"><%= gig.artists %></td>
        <td id="<%= 'shows-last-column' if @last_gig_id == gig %>" class="shows-location shows-column"><%= gig.location %></td>

        
        </tr>
      <% end %>
      </table>

    </div>
  </body>

</html>