<head>
  <%= stylesheet_link_tag    'gigs' %>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
</head>

<div id="new-heading-gigs">Create New Shows</div>

<div id="create-gigs">
  <table id="gigs-table">
<%= form_for @gig, url: {action: "create"} do |f| %>

  <tr>
    <td class="gig-table-headers">Date:</td>
    <td><%= f.date_field :date, id: 'gig-date-field' %></td>  
  </tr>
  <tr>
    <td class="gig-table-headers">Location:</td>
    <td><%= f.text_area :location %></td>
  </tr>
  <tr>
    <td class="gig-table-headers">Artists:</td>
    <td><%= f.text_area :artists %></td>
  </tr>
  <tr>
  <td><%= submit_tag "Save", id: 'save-button' %></td>
  <td></td>
  </tr>
<% end %>
  </table>
</div>