<!DOCTYPE html>
<html>
  <head>
    <title>YouFolkWebsite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>

  <body>
    <span id="alert"></span>
    <div id="container">
      <div id="nav-bar">
        <div id="nav-bar-container">
          <div id="pages">
            <div class="page-links"><a href="/pages/home"> <id="shows">Home</a></div>
            <div class="page-links"><a href="/gigs"> <id="shows">Shows</a></div>
            <div class="page-links"><a href="/albums"> <id="other-music">Music</a></div>
            <div class="page-links"><a href="/pages/contact"> <id="contact">Contact</a></div>
          </div>

      <div class="dropdown">
        <button class="dropbtn"><img class="three-lines" src="<%= asset_path 'threelines2.png' %>"></button>
          <div id="nav-overlay">
            <div class="page-links-overlay"><a href="/pages/home"> <id="shows">Home</a></div>
            <div class="page-links-overlay"><a href="/gigs"> <id="shows">Shows</a></div>
            <div class="page-links-overlay"><a href="/albums"> <id="other-music">Music</a></div>
            <div class="page-links-overlay"><a href="/pages/contact"> <id="contact">Contact</a></div>

            <a class="social-media-overlay" href="https://www.instagram.com/you.folk/"> <img class="sm-buttons" src="<%= asset_path 'instagram.png' %>"</a>
            <a class="social-media-overlay" href="https://www.facebook.com/youfolkchicago/"> <img class="sm-buttons" src="<%= asset_path 'facebook-logo.png' %>"></a>
            <a class="social-media-overlay" href="https://youfolk.bandcamp.com/"> <img class="sm-buttons" src="<%= asset_path 'bandcamp-draw-logo.png' %>"></a>
            <a class="social-media-overlay" href="https://open.spotify.com/artist/7yhjL6UyyiIIOjXuXdRWlu?si=NiV3QC6qStu9JwKPqB1XuA"> <img class="sm-buttons" src="<%= asset_path 'spotify-logo.png' %>"></a>
            <a class="social-media-overlay" href="https://www.youtube.com/channel/UCiQLENUc7xhn13woW_Dodeg?view_as=subscriber"> <img class="sm-buttons" src="<%= asset_path 'youtube.png' %>"></a>
          </div>
      </div>
          <div class="logo">You Folk</div>

          <div id="social-nav-buttons">
            <a class="social-media" href="https://www.instagram.com/you.folk/"> <img class="sm-buttons" src="<%= asset_path 'instagram.png' %>"></a>
            <a class="social-media" href="https://www.facebook.com/youfolkchicago/"> <img class="sm-buttons" src="<%= asset_path 'facebook-logo.png' %>"></a>
            <a class="social-media" href="https://youfolk.bandcamp.com/"> <img class="sm-buttons" src="<%= asset_path 'bandcamp-draw-logo.png' %>"></a>
            <a class="social-media" href="https://open.spotify.com/artist/7yhjL6UyyiIIOjXuXdRWlu?si=NiV3QC6qStu9JwKPqB1XuA"> <img class="sm-buttons" src="<%= asset_path 'spotify-logo.png' %>"></a>
            <a class="social-media" href="https://www.youtube.com/channel/UCiQLENUc7xhn13woW_Dodeg?view_as=subscriber"> <img class="sm-buttons" src="<%= asset_path 'youtube.png' %>"></a>
          </div>
        </div>
      </div>
    <%= yield %>
    </div>
      <div id="footer">
        Copyright © 2019 You Folk
      </div>
  </body>
</html>